* {
  box-sizing: border-box;
  padding: 0;
  max-width: 2400px;
  margin:0;

}

html {
  font-family: "Kanit", sans-serif;
  background: rgb(245, 245, 245);
  font-size: 9px;
  font: #111;
  margin:auto;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
  white-space: nowrap;
}

